.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# The studio will be built in static/studio, which shouldn't be commited
/static/studio
studio/.sanity/runtime/index.html
studio/.sanity/runtime/app.js
