html {
	/* Before any JS runs, by default, the background will be c1 */
	--ssr-color: var(--c1);
	background-color: rgb(var(--ssr-color));
}
body {
	/* Once JS runs, the body background color takes over */
	background-color: rgb(var(--background-color));
	transition: background-color var(--page-transition-duration) ease-in-out;
}
